<div class="container d-flex justify-content-around offers" style="border-radius: 10px;">

    <ng-container *ngIf="destinations.length > 0; else loading">
        <ng-container *ngFor="let destination of destinations">

            <div class="card" style="width: 18rem;">
                <img [src]="destination.image" class="card-img-top">
                <div class="card-body">

                    <h5 class="card-title fas fa-map-marker-alt " style="margin-left:60px;font-size:18px">{{destination.name}}</h5>

                    <p class="card-text" style=" font-weight: bold;color:orangered;font-size:20px">
                        {{destination.prize}}<sup>TND</sup>
                    </p>
                    <input type="checkbox" [checked]="destination.recent" class="form-check-input" /> New

                    <button class="btn btn-primary" style="position: relative; margin-left: 160px" (click)="seeMore(destination.id)">See more</button>
                    <button class="btn btn-success" style="position: relative; margin-right: 100px;margin-top:-65px" (click)=reserve()>Reserve</button>
                </div>
            </div>

        </ng-container>
    </ng-container>

    <ng-template #loading>
        <div class="loading"></div>
    </ng-template>

</div>